* {
  margin: 0;
  font-family: "Quicksand", serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 1000; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0 1rem 0;
  background-color: #676596;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: x-large;
}

header ul {
  color: white;
  display: flex;
}
header ul li {
  font-size: large;
  list-style: none;
  margin: 0 2rem;
}

header ul li a {
  color: white;
  text-decoration: none;
}

.agregarContainer {
  position: sticky;
  top: 80px; /* Ajusta para que no se solape con el header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 25%;
  height: 80vh;
  border-radius: 1rem;
  background-color: #67659649;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(103, 101, 150, 0.36);
  -moz-box-shadow: 0px 0px 10px 6px rgba(103, 101, 150, 0.36);
  box-shadow: 0px 0px 10px 6px rgba(103, 101, 150, 0.36);
}

.agregarContainer h2 {
  color: #676596;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  font-family: "Quicksand", serif;
  border: none;
  background-color: #676596;
  color: white;
  padding: 0.6rem;
  width: 50%;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: large;
}
button:hover {
  background-color: #343341;
}

input {
  background-color: transparent;
  font-family: "Quicksand", serif;
  border: none;
  border-bottom: 1px solid #676596;
  width: 50%;
  margin: 16px 16px 48px 16px;
  font-size: medium;
  text-align: center;
}
input:focus {
  outline: none;
}

.misLibrosContainer {
  width: 65%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.misLibrosContainer div {
  margin-top: 1rem;
  /* padding: 1rem; */
  width: 290px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  background-color: #67659649;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(103, 101, 150, 0.56);
  -moz-box-shadow: 0px 0px 9px 0px rgba(103, 101, 150, 0.56);
  box-shadow: 0px 0px 9px 0px rgba(103, 101, 150, 0.56);
}

.misLibrosContainer div:hover {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(103, 101, 150, 0.56);
  -moz-box-shadow: 0px 0px 16px 3px rgba(103, 101, 150, 0.56);
  box-shadow: 0px 0px 16px 3px rgba(103, 101, 150, 0.56);
}

.misLibrosContainer div h3 {
  color: #676596;
}

.misLibrosContainer img {
  width: 30%;
  height: auto;
}

#saludo{
  text-align: center;
  color: #676596;
  padding-top: 1rem;
}

.subtitulos{
  text-align: center;
  color: #676596;
  padding-top: 1rem;

}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  padding-top: 70px; /* Ajusta según el alto del header */
}

@media (max-width: 600px) {
}
@media (max-height: 600px) {
  form {
    gap: 1rem;
  }
}

/* Estilos para sección de explorar libros */
.librosContainer {
  width: 90%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.librosContainer div {
  margin-top: 1rem;
  /* padding: 1rem; */
  width: 290px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  background-color: #67659649;
  /* -webkit-box-shadow: 0px 0px 9px 0px rgba(103, 101, 150, 0.56);
  -moz-box-shadow: 0px 0px 9px 0px rgba(103, 101, 150, 0.56);
  box-shadow: 0px 0px 9px 0px rgba(103, 101, 150, 0.56); */
}

.librosContainer div:hover {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(103, 101, 150, 0.56);
  -moz-box-shadow: 0px 0px 16px 3px rgba(103, 101, 150, 0.56);
  box-shadow: 0px 0px 16px 3px rgba(103, 101, 150, 0.56);
}

.librosContainer div h3 {
  color: #676596;
}

.librosContainer img {
  width: 30%;
  height: auto;
}

#botonesContainer {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* Estilos modal para edicion */

.modal {
  display: none; /* Oculta la ventana por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 78, 131, 0.531); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
  color: #676596;
}

.contenido-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(115, 73, 139, 0.815);
  text-align: center;
}

.contenido-modal input,
.contenido-modal button {
  font-family: "Quicksand", serif;
  color: #343341;
  margin: 10px 0;
  width: 90%;
  padding: 10px;
  font-size: 16px;
}

.cerrar {
  position: fixed;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

#btn-modal {
  font-family: "Quicksand", serif;
  font-size: large;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #676596;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#btn-modal:hover {
  background-color: #0479b0;
}
